<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Perfil de Administrador</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Alta de usuarios</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post" id="formRegistro">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Rol</label>

            <select name="role" id="roleSelect">
                <option value="DELEGADO" selected>DELEGADO</option>
                <option value="ADMIN">ADMINISTRADOR</option>
            </select>
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Registrar</button>
    </form>

    <hr>

</div>

</div>

<div class="container">
  <h2>Usuarios</h2>
  </table>        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Rol</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < users.length; i++) { %>   
       <tr>
         <td><%= users[i].email %></td>
         <td><%= users[i].role %></td>
         <td>
            <form onsubmit="return confirm('Seguro que desea eliminar al usuario?');" action="/deleteUser" method="post">
                <button type="submit">Eliminar</button>
                <input type="hidden" value=<%= users[i]._id %> name="userid"/>
            </form>
        </td>
       </tr>
    <% } %>
    </tbody>
  </table>
</div>

<script src="js/vendor/vendor.js"></script> 
<script src="js/admin.js"></script> 

</body>
</html>